@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{ font-family: "Montserrat", sans-serif;}
.container{ max-width: 1080px;}


.wrap-1{ background: url(../img/bg.webp) no-repeat center/cover; color: #fff; }
.navbar{ background-color: transparent !important; padding: 25px 0; margin-bottom: 93px; }
.wrap-1 .banner{ padding: 40px 85px; max-width: 700px; margin: auto; }
.banner p.lg{ font-size: 58px; line-height: 80px; font-weight: bold;}
.banner .txt{ font-size: 20px; line-height: 1.5;}

.wrap-2{ background: #252B42; color: #fff; min-height: 100vh;}

.wrap-3 p.h6{ line-height: 76px; }